
  .d1{
    background:LightSkyBlue;
  }
  .d2{
    background:LightSalmon;
  }
  .d3{
    background:PaleTurquoise;
  }
  .d4{
    background:LightPink;
  }
  .d5{
    background:PaleGreen;
  } 
  .d6{
    background:Yellow;
  } 
  .container {
    font-size: 40px;
    width: 100%;
    background: LightGray;
    display:grid; /*contenedor*/
    grid-template-columns: 1fr 100px 2fr; /*n, columnas y ancho de cada columna*/
    grid-template-rows:50px 50px; /*customizas el número de filas y su ancho*/
}

 